<div class="roles">
  <!-- 面包屑导航 -->
  <el-breadcrumb class="roles-bread" separator-class="el-icon-arrow-right">
    <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
    <el-breadcrumb-item>权限管理</el-breadcrumb-item>
    <el-breadcrumb-item>角色列表</el-breadcrumb-item>
  </el-breadcrumb>

  <!-- 表格 -->
  <el-table :data="rolesData" style="width: 100%">
    <el-table-column type="expand">
      <template slot-scope="scope">
        <span v-if="scope.row.children.length === 0">暂无权限</span>
        <!-- //第一行 -->
        <el-row v-else class="roles-row" v-for="level1 in scope.row.children" :key="level1.id">
          <!-- 第一列 -->
          <el-col :span="4">
            <el-tag @close="rolesClose(scope.row,level1.id)" closable type="">
              {{ level1.authName }}
            </el-tag>
            <i class="el-icon-arrow-right"></i>
          </el-col>
          <!-- 第二列 -->
          <el-col :span="20">
            <!-- 第二列的第一行 -->
            <el-row v-for="level2 in level1.children" :key="level2.id">
              <el-col :span="4">
                <!-- 第二列的总名称 -->
                <el-tag @close="rolesClose(scope.row,level3.id)" class="roles-tag" closable type="success">
                  {{ level2.authName }}
                </el-tag>
                <i class="el-icon-arrow-right"></i>
              </el-col>
              <el-col :span="20">
                <!-- 里面的标签内容 -->
                <el-tag @close="rolesClose(scope.row,level2.id)" class="roles-tag" v-for="level3 in level2.children" :key="level3.id" closable
                  type="warning">
                  {{ level3.authName }}
                </el-tag>
              </el-col>
            </el-row>
          </el-col>
        </el-row>
      </template>
    </el-table-column>
    <el-table-column type="index" :index="getIndex" width="50">
    </el-table-column>
    <el-table-column prop="roleName" label="角色名称" width="180">
    </el-table-column>
    <el-table-column prop="roleDesc" label="角色描述" width="180">
    </el-table-column>
    <el-table-column prop="address" label="层级">
      <template slot-scope="scope">
        <!-- //修改 -->
        <el-button icon="el-icon-edit" size="mini" type="primary" plain @click="showEditUserDialog(scope.row)"></el-button>
        <!-- //删除 -->
        <el-button @click="delUser(scope.row.id)" icon="el-icon-delete" size="mini" type="danger" plain></el-button>
        <!-- 分配权限 -->
        <el-button type="success" @click="rolesJurisdiction(scope.row)" icon="el-icon-check" size="mini" plain>分配权限</el-button>
      </template>
    </el-table-column>
  </el-table>

  <!-- 点击分配权限 弹框 -->
  <el-dialog title="分配权限" :visible.sync="dialogRoles">
    <el-tree ref="tree" :default-expand-all="true" :data="rolesJurisd" show-checkbox node-key="id" :props="defaultProps">
    </el-tree>
    <div slot="footer" class="dialog-footer">
      <el-button @click="dialogRoles = false">取 消</el-button>
      <el-button type="primary" @click="assignRole">确 定</el-button>
    </div>
  </el-dialog>
</div>
